<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <link rel="icon" type="image/x-icon" href="../static/image/leaf-solid-24.png">
    <title>Administrador</title>
</head>
<body>
    <nav>
        <h1>Administrador</h1>
        <div class="links"><a href="{{ url_for('log_out')}}">SAIR</a></div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="flash_message">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="order">
        <button class="button" type="button" id="add">+ADICIONAR</button>
            <form action="/admin" style="display: none;" id="form_add" method="POST">
                <input type="text" name="users" id="users" placeholder="usuário">
                <input type="email" name="emails" id="emails" placeholder="e-mail">
                <input type="password" name="passwords" id="passwords" placeholder="senha">
                <label for="admin">admin</label>
                <input type="checkbox" name="admin" id="admin">
                <button type="submit" class="button">Enviar</button>
            </form>

    </div>
    <main>
        <table>
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>E-MAIL</th>
                    <th>ADMINISTRADOR</th>
                    <th>CRIADO EM</th>
                    <th>CONFIG</th>
                </tr>
            </thead>
            
            <tbody>
            {%for users in users%}
            <tr>
                <td>{{users['usuario']}}</td>
                <td>{{users['email']}}</td>
                <td>{{user_name}}</td>
                <td>{{users['create_user']}}</td>
                <form action="/delete" id="form_delete" method="POST">
                <td>
                    <input type="hidden" name="user_id" value="{{users.id}}">
                    <button class="button" type="submit">-REMOVER</button>
                </td>
                </form>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </main>
    <script>
        // Obtém referências para o botão e o formulário
        var botaoMostrar = document.getElementById('add');
        var formulario = document.getElementById('form_add');
    
        // Adiciona um ouvinte de evento para o clique no botão
        botaoMostrar.addEventListener('click', function() {
            // Alterna a visibilidade do formulário
            if (formulario.style.display === 'none') {
                formulario.style.display = 'flex'; // Mostra o formulário
            } else {
                formulario.style.display = 'none'; // Oculta o formulário
            }
        });
    </script>
</body>
</html>