<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
    <title>Administrador</title>
</head>
<body>
    <nav>
        <h1>Administrador</h1>
    </nav>
    <div class="order">
        <button class="button" type="button" id="add">+ADICIONAR</button>
        <button class="button" type="button">-REMOVER</button>

            <form action="/add" style="display: none;" id="form_add">
                <input type="text" name="email" id="user" placeholder="usuário">
                <input type="email" name="email" id="email" placeholder="e-mail">
                <input type="password" name="email" id="password" placeholder="senha">
                <button type="submit" class="button">Enviar</button>
            </form>

    </div>
    <main>
        <table>
            <tr>
                <th>NOME</th>
                <th>E-MAIL</th>
                <th>ADMINISTRADOR</th>
                <th>CRIADO EM</th>
            </tr>
            
        </table>
    </main>
    <script>
        // Obtém referências para o botão e o formulário
        var botaoMostrar = document.getElementById('add');
        var formulario = document.getElementById('form_add');
    
        // Adiciona um ouvinte de evento para o clique no botão
        botaoMostrar.addEventListener('click', function() {
            // Alterna a visibilidade do formulário
            if (formulario.style.display === 'none') {
                formulario.style.display = 'flex'; // Mostra o formulário
            } else {
                formulario.style.display = 'none'; // Oculta o formulário
            }
        });
    </script>
</body>
</html>