<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Algoritimo</title>
  <link href="{{ url_for('static', filename='algorithm.css') }}" rel="stylesheet" type="text/css"/>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
<div class="container">
  <nav class="column">
    <i class='bx bxs-leaf' style='color:#0d8a0a'></i>
    <br>
    <div class="links"><a href="{{ url_for('historic')}}">HISTÓRICO</a></div>
    <div class="links"><a href="*">CONTA</a></div>
    <hr>
    <p>ALGORITIMO</p>
  </nav>
  <div class="column">
    <form method="POST" action="/calc">
      <div class="form_style">
        <label for="PH"><abbr title="Potencial hidrogênico"><b>PH</b></abbr></label>
        <input type="number" id="PH" name="PH" autofocus>
      </div>
      <div class="form_style">
        <label for="fosforo"><abbr title="Fósforo"><b>P</b></abbr></label>
        <input type="number" id="fosforo" name="fosforo">
      </div>
      <div class="form_style">
        <label for="potassio"><abbr title="Potássio"><b>K</b></abbr></label>
        <input type="number" id="potassio" name="potassio">
      </div>
      <div class="form_style">
        <label for="nitrogenio"><abbr title="Nitrogênio"><b>N</b></abbr></label>
        <input type="number" id="nitrogenio" name="nitrogenio">
      </div>
      <div class="form_style">
        <label for="rainfall"><abbr title="Chuva"><i class='bx bxs-cloud-rain' style='color:#6c5cea'></i></abbr></label>
        <input type="number" id="rainfall" name="rainfall">
      </div>
      <div class="form_style">
        <label for="temp"><abbr title="Temperatura"><i class='bx bxs-thermometer' style='color:#d22b2b; font-size: 26px;'></i></abbr></label>
        <input type="number" id="temp" name="temp">
      </div>
      <div class="form_style">
        <label for="water"><abbr title="Umidade"><i class='bx bxs-droplet' style='color:#3d67dc'></i></abbr></label>
        <input type="number" id="water" name="water">
      </div>
      <input class="button" disabled value="CONFIRMAR" id="calcButton" type="submit">
    </form>
  </div>
  <div class="column">
    {% if result %}
    <div class="results">
      <table>
        <tr>
          <th>CULTURA:</th>
          <td>{{ result }}</td>
      </tr>
      <tr>
          <th>CONFIABILIDADE:</th>
          <td>{{ porcent }}%</td>
      </tr>
      </table>
    </div>
    <div class="table">
        <table>
            <tr>
              <th>PH:</th>
              <td>{{PH}}</td>
            </tr>
            <tr>
              <th>Potassio:</th>
              <td>{{potassio}}</td>
            </tr>
            <tr>
              <th>Fosforo:</th>
              <td>{{fosforo}}</td>
            </tr>
            <tr>
              <th>Nitrogênio:</th>
              <td>{{nitrogenio}}</td>
            </tr>
            <tr>
              <th><i class='bx bxs-cloud-rain' style='color:#6c5cea'></i></th>
              <td>{{rainfall}}</td>
            </tr>
            <tr>
              <th><i class='bx bxs-droplet' style='color:#3d67dc'></i></th>
              <td>{{water}}</td>
            </tr>
            <tr>
              <th><i class='bx bxs-thermometer' style='color:#d22b2b; font-size: 26px;'></i></th>
              <td>{{temp}}</td>
            </tr>
        </table>
    </div>
    <div class="table_estatic">
    <table border="1">
      <tr>
        <th>Rótulo</th>
        <td>PH</td>
        <td>Potássio</td>
        <td>Fósforo</td>
        <td>Nitrogênio</td>
        <td>Chuva</td>
        <td>Umidade</td>
        <td>Temperatura</td>
      </tr>
      <tr>
        <th>Média</th>
        <td>{{mean_PH}}</td>
        <td>{{mean_potassio}}</td>
        <td>{{mean_fosforo}}</td>
        <td>{{mean_nitrogen}}</td>
        <td>{{mean_rainfall}}</td>
        <td>{{mean_humidity}}</td>
        <td>{{mean_temperature}}</td>
      </tr>
      <tr>
        <th>Desvio padrão</th>
        <td>{{std_dev_PH}}</td>
        <td>{{std_dev_potassio}}</td>
        <td>{{std_dev_fosforo}}</td>
        <td>{{std_dev_nitrogen}}</td>
        <td>{{std_dev_rainfall}}</td>
        <td>{{std_dev_humidity}}</td>
        <td>{{std_dev_temperature}}</td>
      </tr>
    </table>
  </div>
  <div class="image">
    <img src="{{ url_for('static', filename='graphic.png') }}" alt="Gráfico">
  </div>
    {% endif %}
  </div>

 <script>
        function checkFields() {
            var PH = document.getElementById('PH').value;
            var fosforo = document.getElementById('fosforo').value;
            var potassio = document.getElementById('potassio').value;
            var rainfall = document.getElementById('rainfall').value;
            var nitrogenio = document.getElementById('nitrogenio').value;
            var temp = document.getElementById('temp').value;
            var water = document.getElementById('water').value;
            var calcButton = document.getElementById('calcButton');
            
            if (PH && fosforo && potassio && rainfall && nitrogenio && temp && water) {
                calcButton.disabled = false;
            } else {
                calcButton.disabled = true;
            }
        }

        var formFields = document.querySelectorAll('input[type="number"]');
        formFields.forEach(function (field) {
            field.addEventListener('input', checkFields);
        });
    </script>
</body>


</html>