<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='historic.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Histórico</title>
</head>
<body>
  <div class="container">
    <nav class="column">
      <i class='bx bxs-leaf' style='color:#06ff02d3'></i>
      <br>
      <div class="links"><a href="{{ url_for('algorithm_screen')}}">ALGORITIMO</a></div>
      <div class="links"><a href="*">CONTA</a></div>
      <hr>
      <p>HISTÓRICO</p>
    </nav>
 
    <main class="column">
      <table>
        {% if user %}
        <caption>{{user}}</caption>
        {% endif %}
        <tr>
          <th>PH</th>
          <th>FÓSFORO</th>
          <th>POTÁSSIO</th>
          <th>NITROGÊNIO</th>
          <th>CHUVA</th>
          <th>TEMPERATURA</th>
          <th>UMIDADE</th>
        </tr>
      </table>
    </main>
  </div>
</body>
</html>