<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='historic.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/x-icon" href="../static/image/leaf-solid-24.png">
  <title>Histórico</title>
</head>
<body>
  <div class="container">
    <nav class="column">
      <i class='bx bxs-leaf' style='color:#06ff02d3'></i>
      <br>
      <button onclick="voltarPagina()">ALGORITIMO</button>
      <div class="links"><a href="{{ url_for('log_out')}}">SAIR</a></div>
      <hr>
      <p>HISTÓRICO</p>
      <div class="user_div">
        <p id="user">{{user_name}}</p>
      </div>
    </nav>
 
    <main class="column">
      <table>
        <tr>
          <th class="headers"></th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['data']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">DATA</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['data']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">PH</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['ph']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">FÓSFORO</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['p']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">POTÁSSIO</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['k']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">NITROGÊNIO</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['n']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">CHUVA</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['chuva']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">TEMPERATURA</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['temper']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">UMIDADE</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['umid']}}</td>
          {% endfor %}
        </tr>
        <tr>
          <th class="headers">RESULTADO</th>
          {% for id_of_user in id_of_user %}
          <td>{{id_of_user['resultado']}}</td>
          {% endfor %}
        </tr>
      </table>

    </main>
  </div>
  
<script>
  // Função para voltar para a página anterior com a ultima execução
  function voltarPagina() {
    history.back();
  }
</script>
</body>
</html>