<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='historic.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="icon" type="image/x-icon" href="../static/image/leaf-solid-24.png">
  <title>Histórico</title>
</head>
<body>
  <div class="container">
    <nav class="column">
      <i class='bx bxs-leaf' style='color:#06ff02d3'></i>
      <br>
      <div class="links"><a href="{{ url_for('algorithm_screen')}}">ALGORITIMO</a></div>
      <div class="links"><a href="{{ url_for('log_out')}}">SAIR</a></div>
      <hr>
      <p>HISTÓRICO</p>
      <div class="user_div">
        <p id="user">{{user_name}}</p>
      </div>
    </nav>
 
    <main class="column">
      <table>
        <thead>
          <tr>
            <th class="headers">ID</th>
            <th class="headers">DATA</th>
            <th class="headers">PH</th>
            <th class="headers">FÓSFORO</th>
            <th class="headers">POTÁSSIO</th>
            <th class="headers">NITROGÊNIO</th>
            <th class="headers">CHUVA</th>
            <th class="headers">TEMPERATURA</th>
            <th class="headers">UMIDADE</th>
            <th class="headers">RESULTADO</th>
          </tr>
        </thead>
        <tbody>
          {% for item in paginated_query.items %}
            <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.data }}</td>
              <td>{{ item.ph }}</td>
              <td>{{ item.p }}</td>
              <td>{{ item.k }}</td>
              <td>{{ item.n }}</td>
              <td>{{ item.chuva }}</td>
              <td>{{ item.temper }}</td>
              <td>{{ item.umid }}</td>
              <td>{{ item.resultado }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <ul>
        {% if paginated_query.has_prev %}
        <li><a href="{{ url_for('historic', page=paginated_query.prev_num) }}">Anterior</a></li>
        {% endif %}
        {% if paginated_query.has_next %}
        <li><a href="{{ url_for('historic', page=paginated_query.next_num) }}">Próxima</a></li>
        {% endif %}
    </ul>
    </main>
  </div>
</body>
</html>