<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css">
    <title>HOME</title>
</head>
<body>
    <div class="sidebar">
      <div class="icon">
        <i class='bx bxs-leaf' style='color:#0ee422'></i>
      </div>
    </div>
    <div class="content">
        <form method="post">
            <div class="login">
                <label for="username">USUÁRIO</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="login">
                <label for="password">SENHA</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="login">
                <input type="button" value="CONFIRMAR">
                <a href="/algorithm">HOME</a>
            </div>
        </form>
    </div>
</body>
</html>